# Data
data/raw/
data/processed/
data/interim/
*.csv
*.parquet
*.pkl

# Logs and Outputs
logs/
outputs/
wandb/
.wandb

# Python
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.env
.venv/
venv/
*.egg-info/

# IDE
.vscode/
.idea/

# System
.DS_Store

# Ignore large artifacts
.cache/
movie.zip
